<%- include('partials/header', { page: 'Not Found', path: '' }) %>
  <div class="container">
    <h1>Page Not Found!</h1>
    <p>A página que você procura não está disponível!</p>
  </div>
<%- include('partials/footer') %>
