<%- include('partials/header', { page: 'Add Product' }) %>
  <form class="form" method="POST" action="/admin/add-product">
    <input type="text" name="product"/>
    <button type="submit">Cadastrar</button>
  </form>
<%- include('partials/footer') %>
