<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Produtos</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <ul class="menu">
      <li><a href="/">Products</a></li>
      <li><a href="/admin/add-product">Add Product</a></li>
    </ul>  
  </header>
  <h1>Lista de produtos</h1>
  <% for (let item of products) { %>
    <li><%= item.title %></li>
  <% } %>  
</body>
</html>