<%- include('partials/header', { page: 'All Products' }) %>
  <h1>Lista de produtos</h1>
  <% for (let item of products) { %>
    <li><%= item.title %></li>
  <% } %>  
<%- include('partials/footer') %>
