<%- include('../partials/header', { page: 'All Products', path: 'shop' }) %>
  <div class="container my-3">
    <h1>Lista de produtos</h1>
    <% for (let item of products) { %>
      <li><%= item.title %></li>
    <% } %>  
  </div>
<%- include('../partials/footer') %>
